{{/* Source: https://blog.codepen.io/documentation/embedded-pens/ (Official CodePen Documentation) */}}
{{- $id := .Get "id" | default (.Get 0) -}}
{{- $height := .Get "height" | default "400" -}}
{{- $theme := .Get "theme" | default "dark" -}}
{{- $tab := .Get "tab" | default "html,result" -}}
{{- $user := .Get "user" | default "codepen" -}}
<p class="codepen"
  data-slug-hash="{{ $id }}"
  data-theme-id="{{ $theme }}"
  {{- with $user }} data-user="{{ . }}"{{ end }}
   data-height="{{ $height }}"
   data-default-tab="{{ $tab }}"
   data-preview="true">
  <span>See the Pen <a href="https://codepen.io/{{ $user }}/pen/{{ $id }}">{{ $id }}</a>
  by <a href="https://codepen.io/{{ $user }}">@{{ $user }}</a> on <a href="https://codepen.io">CodePen</a>.</span>
</p>
