<!-- Source: https://blog.codepen.io/documentation/embedded-pens/ (adapted) -->
<!-- CodePen embed -->
{% assign pen_id = include.id %}
{% assign user = include.user %}
{% assign height = include.height | default: "400" %}
{% assign theme = include.theme | default: "dark" %}
{% assign default_tab = include.default_tab | default: "result" %}

<p class="codepen" data-height="{{ height }}" data-theme-id="{{ theme }}" data-default-tab="{{ default_tab }}" data-slug-hash="{{ pen_id }}" data-user="{{ user }}" style="height: {{ height }}px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/{{ user }}/pen/{{ pen_id }}">
  {{ pen_id }}</a> by {{ user }} (<a href="https://codepen.io/{{ user }}">@{{ user }}</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
